body {
	color:#fff;
	font-family:Arial;
}
h1 {
	font-family:BebasNeueRegular,Arial;
	text-align:center;
	text-transform:uppercase;
	text-shadow: 2px 2px #666;
	font-size:400%;
}
input,textarea {
	border:0;
	border-left:3px solid #f70048;
	color:#666;
	padding:5px 0;
}

label {
	color:#f70048;
	font-family:BebasNeueRegular,Arial;
	font-size:150%;
	text-shadow: 1px 1px #666;
}

input.button {
	
	text-transform:uppercase;
	color:#fff;
	background-color: #f70048;
	padding-right:3px;
	font-size:80%;
	width:100px;
	height:35px;
	
}

input.verification {
	font-size:65%;
	width:120px;
	height:35px;
	margin-top:10px;


}
.big {
	font-size:150%;
	font-weight:bold;
	float:right;
	margin-top:-20px;
}

h2.label{
	font-family:BebasNeueRegular,Arial;
	margin-top: 40px;
	margin-left: 80px;
	font-size: xx-large;
	text-shadow: 2px 2px #666;
}

.styled-select select {

   background: transparent;
   width: 500px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

 .styled-select {
	margin-left:150px;
   width: 460px;
   height: 34px;
   overflow: hidden;
   background: url(../images/new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
}

textarea {

	width:350px;
	font-size:150%;

}


body {
	background:#f70048;
}
#wrapper {
	margin-top:20px;
	width:750px;
	//height:1350px;
	padding:30px;
	background-color:rgba(255,255,255,1);
	margin-left:auto;
	margin-right:auto;
	
}

#progressbar {
	margin-left:300px;
}

table {

	width:100%;
	text-align:left;

}

td,th {

	padding:2px;

}

th {
	
	color:#f70048;
	
}

td{ 

	color:#ffdde7;

}

tr:hover{
	background-color:#b2b2b2;
}

div.people_list {

	margin-left:auto;
	margin-right:auto;
	font-size:120%;
	//font-weight:bold;
	text-shadow: 1px 1px #666;
	
}

.input {
	font-size:120%;
}