@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
#structure .fields {
	width:35%;
}
#structure .status-area {
	
	width:5%;
}
#structure .help-area {
	
	width:40%;
}
#structure td {
	padding-top:15px;
}

input.input {
	width:345px;
}

.code {
	text-align:center;
	width:120px;
	height:25px;
}

p.help {
	
	text-shadow: 1px 1px #666;
	font-weight: bold;
}

.bold {
    text-shadow: 1px 1px #666;
    font-weight: bold;
}



#email, #phone {
	margin-bottom:10px;
}

.status {
	
	width:20px;
}

a {

    color: #ffffff;

}